.wrapper {
  display: flex;
  justify-content: center;
  padding: 2em;
  min-height: 100dvh;
  gap: 4em;
}

.login-section {
  flex: 1;
}

.wrapper h1 {
  font-size: 2em;
  font-weight: bold;
}

.section {
  flex: 1;
}

.link {
  text-decoration: underline;
  color: var(--clr-primary-400);
}

.link:is(:hover, :focus-visible) {
  color: var(--clr-accent-400);
}
