.wrapper {
  display: flex;
  justify-content: center;
  padding: 2em;
  min-height: 100dvh;
  gap: 8em;
}
.register-section {
  flex: 1.1;
}

.terms-and-condition {
  text-align: center;
  padding-bottom: 12px;
}

.terms {
  text-decoration: underline;
  color: var(--clr-primary-400);
}
